// From: http://www.assemblesoft.com/examples/form/simpleform.html
* {margin:0; padding:0;}

html {
	font: 90%/1.3 arial,sans-serif;
	padding:1em;
	background:#B9C2CC;
}
form {
	background:#fff;
	padding:1em;
	border:1px solid #eee;
}

fieldset div {
	margin:0.3em 0;
	clear:both;
}

form {
	margin:1em;
	width:15em;
}

label {
	float:none;
	width:12em;
	display:block;
	clear:both;
}

legend {
	color:#0b77b7;
	font-size:1.4em;
}
legend span {
	width:10em;
	text-align:right;
}
input {
	padding:0.15em;
	width:10em;
	border:1px solid #ddd;
	background:#fafafa;
	font:bold 1em arial, sans-serif;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
	display:block;
	float:left;
}
input:hover, input:focus {
	border-color:#c5c5c5;
	background:#f6f6f6;
} 
fieldset {
	border:1px solid #ddd;
	padding:0 0.5em 0.5em;
}
.date input {
	background-image:url(../gfx/calendar-small.gif);
	background-repeat:no-repeat;
	background-position:100% 50%;
}

.date fieldset label {
	float:none;
	display:block;
	text-align:left;
	width:auto;
}
.date fieldset div {
	float:left;
	clear:none;
	margin-right:0.2em;
}
.radio, .date {
	position:relative;
}
.radio fieldset, .date fieldset {
	border:none;
	width:auto;
	padding:1px 0 0 11em;
}
.radio legend, .date legend {
	font-size:1em;
	color:#000;
}
.radio legend span, .date legend span {
	position:absolute;
	left:0;
	top:0.3em;
	width:10em;
	display:block;
}
.radio label, .radio input {
	vertical-align:middle;
	display:inline;
	float:none;
	width:auto;
	background:none;
	border:none;
}
.radio div {
	float:left;
	white-space:nowrap;
	clear:none;
}

.email {
	width:14em;
}

input.default {
	color:#bbb;
}

#submit {
	margin:1em;
	width:69px;
	height:26px;
	overflow:hidden;
	border:0;
	display:block;
	cursor:pointer !important; cursor:hand;
}
#submit:hover {
	background-position:0 -26px;
}

textarea {
	padding:0.15em;
	width: 200px;
	height: 50px;
	display: block;
}

.error {
	color: ##FF1400;
}

#first {
    display: block;
}

#second {
    display: block;
}

#total{
    display: block;
}

#number1{
    padding-left: 13px;
    padding-right:13px;
    border:1px solid;
    }

#number2{
    padding-left: 13px;
    padding-right:13px;
    border:1px solid;
}

#number3{
    padding-left: 13px;
    padding-right:13px;
    border:1px solid;
}

#number4{
    padding-left: 13px;
    padding-right:13px;
    border:1px solid;
}

#number5{
    padding-left: 13px;
    padding-right:13px;
    border:1px solid;
}

#number6{
    padding-left: 13px;
    padding-right:13px;
    border:1px solid;
}

#number7{
    padding-left: 13px;
    padding-right:13px;
    border:1px solid;
}

#number8{
    padding-left: 13px;
    padding-right:13px;
    border:1px solid;
}

#number9{
    padding-left: 13px;
    padding-right:13px;
    border:1px solid;
}

#number0{
    padding-left: 13px;
    padding-right:13px;
    margin-left:0px;
    border:1px solid;
}

#add{
    padding-left: 13px;
    padding-right:13px;
    border:1px solid;
}

#minus{
    padding-left: 13px;
    padding-right:13px;
    border:1px solid;
}

#multiply{
    padding-left: 13px;
    padding-right:13px;
    border:1px solid;
}

#divide{
    padding-left: 13px;
    padding-right:13px;
    border:1px solid;
}

#equals{
    padding-left: 13px;
    padding-right:13px;
    border:1px solid;
}

#numbers{
    padding-top: 10px;
    padding-left: 5px;
}
/*
:invalid {
	color:red;
}
*/
/*
input[type=checkbox], input[type=radio] { visibility: hidden; width:0; height:0; padding:0; margin:0; }
input[type=checkbox] + label, input[type=radio] + label { padding-left:18px; }
input[type=checkbox] + label{ background: url(../gfx/check_radio.png) 0 0 no-repeat; }
input[type=checkbox]:focus + label{ background-position: 0 -16px; }
input[type=checkbox] + label:hover{ background-position: 0 -32px; } 
input[type=checkbox]:checked + label{ background-position: 0 -48px; }

input[type=radio] + label{ background: url(../gfx/check_radio.png) 0 -64px no-repeat; }
input[type=radio]:focus + label{ background-position: 0 -80px; }
input[type=radio] + label:hover{ background-position: 0 -96px; } 
input[type=radio]:checked + label{ background-position: 0 -112px; }
*/